<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Типа о нас</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css">
</head>
<body>
    <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
        <h5 class="my-0 mr-md-auto font-weight-normal">ПНИ "Энергетика"</h5>
         <nav class="my-2 my-md-0 mr-md-3">
             <a class="p-2 text-dark" href="/">Программы и методики испытаний АСУ ТП</a>
             <a class="p-2 text-dark" href="/about_project">О проекте</a>
             <a class="p-2 text-dark" href="/about-us">О команде</a>
             <a class="p-2 text-dark" href="/contact">Контакты</a>
             <a class="p-2 text-dark" href="/test">snips</a>
         </nav>
        <a class="btn btn-outline-primary" href="#">Регистрация</a>
    </div>
    <h1>Мерзсские студентсссы</h1>
    <p>без опыта работы в 1с</p>
</body>
</html>